body{
  width: 800px;
  margin: 0 auto;
}
footer{
  background-color: black;
  color: white;
  //footer는 float 설정해제하기
}
.img{
  width: 100%;
  height: 300px;
  //backgroundimage넣기
}     
at1 {

}
at2{

}
at3{

}
at4{

}


